.NavList {
  margin: 10px;
  margin-right: 0px;
  overflow-x: scroll;
  min-height: 400px;
  max-height: 800px;
  font-size: small;
  background-color: rgb(255, 255, 255);
}

.NavList ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;    
}

.NavList li {
    margin: 0px;
    padding: 5px;
    display: block;
    text-align: left;
}

.NavList li.option:hover {
  background-color: rgb(96, 151, 233);
  color: white;
}

.NavList li#selected {
  background-color: rgb(96, 151, 233);
  color: white;
}

.NavList p {
  text-align: left;
  border-bottom: 1px solid rgb(218, 218, 218);
  font-weight: bold;
  font-size: 1.5em;
}